.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 25%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 20%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 71%
    right: 70%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 600px !important  

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  // color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal
.tarjeta--morada
  background-color: #5B39A6
.acordion__activo
  background-color: #E6DCFB
.titulo-tres
  margin-bottom: 3.5rem
  h3
    margin-left: 2rem
    margin-right: 1rem
    margin-bottom: 0
  background-color: $color-acento-contenido
  display: inline-block
  padding: 0.5rem 1rem
  border-radius: 0.5rem
  position: relative
  &::before
    content: url('../assets/curso/temas/icon2.svg')
    position: absolute
    top: 0
    left: 0
    transform: translate(-50%, -15%)
    width: 64px
.morado-oscuro 
  background-color: #5B39A6
.acordion__activo
  background-color: #E6DCFB !important
  .acordion__header
    h3 
      color: $color-sistema-texto
.acordion__accion__btn--a
  background-color: $color-acento-botones
.acordion__header
  h3 
    color: white
.fondo-sly
  background-image: url('../assets/curso/temas/fondo-sly.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.fondo-1
  background-image: url('../assets/curso/temas/fondo-1.svg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.fondo-2
  background-image: url('../assets/curso/temas/fondo-2.svg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.mn
  margin: 0 -3rem
td,th
  padding: 1rem !important
  width: 100%
td
  background-color: white !important
.bloque-texto-d
  &::before
    background-color: #DDEFFD !important
table
  width: 100%
  border-collapse: collapse
  display: block
  overflow-x: auto;
  white-space: nowrap
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: $color-acento-botones
.slyder-a__bullets__item
  background-color: #FEDBB3
.slyder-a__bullets__item--active
  background-color: #F0AD62
.bloque-texto-g.color-secundario
  background-color: #CDB9F8
.card-hover
  background-color: #BCE0FC
  border-radius: 1.5rem
  padding: 1rem
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
  transition: all 0.3s ease-in-out
  &:hover
    transform: translateY(-5px)
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2)
    background-color: #FEEAD4
    .card-hover__titulo
      background-color: #FED6A8
      transition: all 0.3s ease-in-out
  .card-hover__titulo
    background-color: #EDF7FE
.lista-ol--cuadro__vineta
  span
    font-weight: bold
    color: $color-sistema-texto
.linea-tiempo-d__item--selected
  .linea-tiempo-d__item__content__title, .linea-tiempo-d__item__content__slot 
    background-color: #FED6A8
.tabs-b.color-acento-contenido .tabs-b__tab--active
  background-color: #EDF7FE
  border: 0
.tabs-b__content-item
  background-color: #EDF7FE
.tabs-b__tab
  background-color: #DDEFFD

      